.navbar
  %ul.navbar__header
    %li.navbar__header__top
      フリマサイト >
    %li.navbar__header__mypage
      マイページ

.mainbody
  .mainbar
    .mainbar__side
      .mainbar__side__list
        %ul.mainbar__side__list__mypage
          %li.mainbar__side__list__mypage__part
            マイページ
          %li.mainbar__side__list__mypage__part
            お知らせ
          %li.mainbar__side__list__mypage__part
            やることリスト
          %li.mainbar__side__list__mypage__part
            出品する
          %li.mainbar__side__list__mypage__part
            出品中
          %li.mainbar__side__list__mypage__part
            取引中
          %li.mainbar__side__list__mypage__part
            売却済み
          %li.mainbar__side__list__mypage__part
            ガイド
          %li.mainbar__side__list__mypage__part
            問い合わせ

        %h3.headbar
          フリマペイ
        %ul.mainbar__side__list__mypage
          %li.mainbar__side__list__mypage__part
            売上・振込申請
          %li.mainbar__side__list__mypage__part
            ポイント

        %h3.headbar
          設定
        %ul.mainbar__side__list__mypage
          %li.mainbar__side__list__mypage__part
            プロフィール
          %li.mainbar__side__list__mypage__part
            発送元/お届け先住所変更
          %li.mainbar__side__list__mypage__part
            支払い方法
          %li.mainbar__side__list__mypage__part
            メールパスワード
          %li.mainbar__side__list__mypage__part
            本人情報
          %li.mainbar__side__list__mypage__part
            電話番号の確認
          %li.mainbar__side__list__mypage__part
            ログアウト
    .mainbar__content
      .mainbar__content__icon
        %img.mainbar__content__icon__image{:src => "/assets/180112_haikei.jpg"}/
        %h4.mainbar__content__icon__image--name name
        %h4.mainbar__content__icon__image--status 評価 0 出品数 0
      .mainbar__content__tab
        %ul.mainbar__content__tab__list
          %li.mainbar__content__tab__list__1
            お知らせ
          %li.mainbar__content__tab__list__2
            やることリスト