.footer{
  .up_area{
    height: 360px;
    width:  100%;
    background-image: url(/assets/images/pict/bg-appBanner-pict.jpg);
    
  }
  .low_area{
    background: black;
    color: white;
  }
}








