.head{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  padding-bottom: 20px;;
  &__flash{
    background: $keyColor;
    color: white;
    text-align: center;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  &__in{
    width: 1040px;
    margin: auto;
    padding: 15px 0 0;
    &__up{
      display: flex;
      justify-content: center;
      &__logo{
        width: 140px;
      }
      &__search{
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__txt{
          border: 1px solid #666;
          width: calc(100% - 36px);
          padding: 5px;
          margin-left: 25px;
        }
        &__btn{
          background: $keyColor;
          width: 36px;
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 1.2em;
          &--display{
            display: none;
          }
        }
      }
    }
    &__nav{
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      font-size: 0.9em;
      &__left{
        display: flex;
        ul{
          margin-right: 32px;
        }
        &__cate{
        }
        &__brand{
        }
      }
      &__right{
        display: flex;
        a{
          text-decoration: none;

          &:hover{
            color: $keyColor;
          }
        }
        li{
          margin-left: 16px;
        }
        &__login{
        }
        &__new{
          
        }
      }
    }
  }
}



