.itemsShow{
  background: #f8f8f8;
  padding-top: 30px;
  a{
    color: $keyColor;
    text-decoration: none;

    &:hover{
      opacity: 0.65;
    }
  }
  .main{
    background: white;
    width: 700px;
    margin: auto;
    padding: 24px 40px 40px;
    &__name{
      text-align: center;
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &__imgs{
      margin: auto;
      padding: 0 30px;
      text-align: center;
      &__img{
        width: 560px;
        height: 346px;
        object-fit: cover;
      }
      &__list{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        &__img{
          width: 25%;
          margin: 0 10px;
          img{
            width: 100%;
            height: 87px;
            object-fit: cover;
          }
        }
      }
    }
    &__price{
      margin-top: 20px;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      &__sub{
        text-align: center;
        font-size: 16px;
        font-weight: initial;
      }
    }
    &__buy{
      background: $keyColor;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0;
      padding: 20px;
      font-size: 1.5em;
      color: white;
    }
    &__edit, &__destroy{
      background: $keyColor;
      width: 45%;
      height: 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 40px 10px;
      padding: 20px;
      font-size: 1.2em;
      color: white;
    }
    &__description{
      margin-top: 20px;
    }
    &__info{
      width: 100%;
      margin-top: 30px;
      border: 1px solid #dedede;
      font-size: 14px;
      th{
        background: #eee;
        width: 20%;
        padding: 15px;
        border: 1px solid #dedede;
        text-align: center;
      }
      td{
        padding: 16px;
        border: 1px solid #dedede;
      }
    }
    &__low{
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      &--like{
        padding: 6px 10px;
        color: $keyColor;
        border: 1px solid #ffb340;
        border-radius: 40px;
      }
      &--report{
        padding: 6px 10px;
        color: #333 !important;
        border: 1px solid #333;
        border-radius: 4px;
        text-decoration: none;
      }
    }
  }
  .comment{
    background: white;
    width: 700px;
    margin: 10px auto;
    padding: 24px;
    text-align: center;
    &__txt{
      width: 100%;
      min-height: 104px;
      display: block;
      margin: auto;
      border: 1px solid #000;
    }
    &__caution{
      background: #f8f8f8;
      padding: 8px;
      margin-top: 15px;
      font-size: 14px;
      text-align: left;
    }
    &__btn{
      background: #3CCACE;
      width: 60%;
      height: 48px;
      margin-top: 30px;
      border: 1px solid #3CCACE;
      color: #fff;
      font-size: 18px;
      border-radius: 100px;
    }
  }
  .more{
    width: 700px;
    margin: auto;
    padding-bottom: 50px;
    .preNextBox{
      display: flex;
      justify-content: space-between;
    }
    .moreBtn{
      display: block;
      margin-top: 20px;
      font-size: 22px;
      font-weight: bold;
    }
  }
}













