.wrapper {
  background-color: #f8f8f8;
  width: 100vw;
  padding: 40px;
  // ここの幅・高さは仮置きです。
  display: flex;
  justify-content: center;
  font-size: 14px;
  .input_area {
    background-color: #fff;
    height: 100%;
    width: 700px;
  // ここの幅・高さは仮置きです。
    .image {
      width: 100%;
      height: 300px;
      padding: 40px;
      border: 1px solid #f8f8f8;
      &__top {
        &--red {
          background-color: red;
          color: #ffffff;
          font-size: 14px;
          // 文字の大きさは後で調整する
          margin-left: 8px;
          padding: 0 4px;
        }
      }
      &__text {
        margin: 16px 0;
      }
      .image_form {
        height: 158px;
        background-color: #f8f8f8;
        border: 1px dotted grey;
        // borderの色は再度調整の必要あり
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &__item {
          &--icon {
            font-size: 20px;
            // ここのネスト構造はシンプルにできるかもしれない
            // font-sizeの兼ね合い次第
          }
          &--display {
            display: none;
          }
        }
      }
    }
    .overview{
      height: 416px;
      padding: 40px;
      border: 1px solid #f8f8f8;
      .name{
        height: 118px;;
        &__top {
          &--red {
            background-color: red;
            color: #ffffff;
            font-size: 14px;
            // 文字の大きさは後で調整する
            margin-left: 8px;
            padding: 0 4px;
          }
        }
        &__form {
          width: 100%;
          height: 48px;
          padding: 0 16px;
          margin-top: 16px;
        }
      }
      .explain {
        &__top {
          &--red {
            background-color: red;
            color: #ffffff;
            font-size: 14px;
            // 文字の大きさは後で調整する
            margin-left: 8px;
            padding: 0 4px;
          }
        }
        &__form {
          width: 100%;
          height: 140px;
          padding: 13px 16px;
          margin-top: 16px;
        }
        .explain_bottom {
          position: relative;
          &__caracters_number {
            position: absolute;
            right: 0px;   
          }
        }
      }
    }
    .detail {
      height: 479px;
      padding: 40px;
      border: 1px solid #f8f8f8;
      .category {
        height: 118px;
        margin-top: 24px;
        &__top {
          &--red {
            background-color: red;
            color: #ffffff;
            font-size: 14px;
            // 文字の大きさは後で調整する
            margin-left: 8px;
            padding: 0 4px;
          }
        }
        &__form {
          width: 100%;
          height: 48px;
          padding: 0 16px;
          margin-top: 16px;
        }
      }
      .brand {
        &__top {
          &--gray {
            background-color: gray;
            color: #ffffff;
            font-size: 14px;
            // 文字の大きさは後で調整する
            margin-left: 8px;
            padding: 0 4px;
          }
        }
        &__form {
          width: 100%;
          height: 48px;
          padding: 0 16px;
          margin-top: 16px;
        }
      }
      .status {
        margin-top: 32px;
        &__top {
          &--red {
            background-color: red;
            color: #ffffff;
            font-size: 14px;
            // 文字の大きさは後で調整する
            margin-left: 8px;
            padding: 0 4px;
          }
        }
        &__form {
          width: 100%;
          height: 48px;
          padding: 0 16px;
          margin-top: 16px;
        }
      }
    }
    .shipping_relation {
      height: 479px;
      // ここの高さはより大きくする可能性あり
      padding: 40px;
      border: 1px solid #f8f8f8;
      .fee {
        height: 118px;
        margin-top: 24px;
        &__top {
          &--red {
            background-color: red;
            color: #ffffff;
            font-size: 14px;
            // 文字の大きさは後で調整する
            margin-left: 8px;
            padding: 0 4px;
          }
        }
        &__form {
          width: 100%;
          height: 48px;
          padding: 0 16px;
          margin-top: 16px;
        }
      }
    }
    .price {
      height: 270px;
      padding: 40px;
      border: 1px solid #f8f8f8;
    }
    .submit {
      height: 164px;
      padding: 40px;
      border: 1px solid #f8f8f8;
    }
  }
}