.new_user{
  
  .field{
  &__nickname{
    color: yellow;
    text-align: center;
  }

  &__email{
    color: red;
    text-align: center;
  }

  &__password{
    color: rebeccapurple;
    text-align: center;
  }

  &__confirmation{
    color: blue;
    text-align: center;
  }
  }
  .actions{
  &__sign_up{
    color: cyan;
    text-align: center;
  }
  
  }.actions__sign_up{
    text-align: center;
  }

  .login{
    text-align: center;
  }
}