.main-box{
  width: 100%;

  &__header {
    height: 128px;
    width: 100%;
    background-color: salmon;
    text-align: center;
    padding-right: 300px;
    padding-top: 35px;
    &--link{
      
    }
  }
}

.box{
  background-color: lightgray;
  margin: 0 auto;
  &__header{
    height: 97px;
    width: 700px;

  }
  &__form{

  }
}
.new_user{
  background-color:white;
  width: 500px;
  margin-left: 420px;
  .field{
  &__nickname{
    border: 1px solid;
    background-color: orange;
    color: white;
    text-align: center;
    height: 85px;
    label{
      font-size: 27px;
    }
  }

  &__email{
    border: 1px solid;
    background-color: lightseagreen;
    color: white;
    text-align: center;
    height: 85px;
    label{
      font-size: 27px;
    }
  }

  &__password{
    border: 1px solid;
    background-color: red;
    color: white;
    text-align: center;
    height: 85px;
    label{
      font-size: 27px;
    }
  }

  &__confirmation{
    border: 1px solid;
    background-color: pink;
    color: white;
    text-align: center;
    height: 85px;
    label{
      font-size: 27px;
    }
  }
  

  

  .login{
  border: 1px solid;
  width: 500px;
  height: 80px;
  background-color: red;
  text-align: center;
  color: blue;
  
  }
  .submit-btn1{
    
    background-color: royalblue;
    color: white;
    }
  .submit-btn2{
    background-color: yellowgreen;
    color: white;
  }
  }
}

.actions__sign_up{
  color: white;
    .submit-btn {
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      background-color: red;

      }
    }