.main{
  background-color: lightgrey;
  &__header{
    height: 150px;
    background-color: lightgray;
    text-align: center;
    padding-top: 50px;
  }

  &__contents{
    background-color: white;
    text-align: center;
    width: 600px;
    padding-top: 30px;
    margin: auto;
    
    .submit-btn {
      width: 300px;
      height: 55px;
      margin-bottom: 30px;
      font-size: 20px;
      background-color: lightseagreen;
      color: white;
      display: block;
      margin: auto;
      text-decoration: none;
      padding-top: 10px;
    }
    
  }
    .field{
      height: 100px;
    }
    label{
      font-size: 20px;
    }

    .actions{
      height: 100px;
      .submit-btn{
        background-color: red;
        color: white;
        width: 300px;
        height: 55px;
      }
    }
  
  
  &__footer{
    margin: 0 auto;
    padding: 40px 0;
    background-color: lightgray;
    height: 240px;
    &__message{
      height: 200px;
      text-align: center;
      color: white;
      .menu{
        display: flex;
        width: 500px;
        margin-left: 440px;
        justify-content: space-around;
        text-decoration: none;
        
        &__me{
          
          .me1{
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}