.main-box{
  width: 100%;

  &__header {
    height: 128px;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    padding-right: 30px;
    padding-top: 35px;
    

  }
}

.box{
  background-color: lightgray;
  margin: 0 auto;
  &__header{
    height: 100px;
    width: 750px;
    background-color: white;
    margin-left: 338px;
    padding-top: 30px;
    margin-bottom: 1px;
    margin: 0 auto;
  }
  &__form{
    width: 750px;
    padding: 50px;
    background-color: white;
    margin: 0 auto;
  }
  &__footer{
    margin: 0 auto;
    padding: 40px 0;
    background-color: lightgray;
    &__message{
      height: 200px;
      text-align: center;
      color: white;
      .menu{
        display: flex;
        width: 500px;
        margin-left: 440px;
        justify-content: space-around;
        text-decoration: none;
        
        &__me{
          
          .me1{
            text-decoration: none;
            color: black;
          }
          
        }
      }
      .main-box__header--link{
        img{
          padding-top: 30px;
        }
        p{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
  .field{
  &__nickname{
    border: none;
    color: black;
    text-align: center;
    height: 85px;
    width: 300px;
    margin: 0 auto;
    label{
      font-size: 20px;
      padding-right: 80px;
    }
    span{
      color: white;
      background-color: red;
    }
  }

  &__email{
    border: none;
    color: black;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    height: 85px;
    label{
      font-size: 20px;
      padding-right: 120px;
    }
    span{
      color: white;
      background-color: red;
    }
  }

  &__password{
    border: none;
    text-align: center;
    margin: 0 auto;
    height: 85px;
    padding-top: 5px;
    label{
      color: black;
      font-size: 20px;
    }
    span{
      color: white;
      background-color: red;
    }
  }

  &__confirmation{
    border: none;
    color: black;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    height: 85px;
    margin-bottom: 50px;
    label{
      font-size: 20px;
      padding-right: 50px;
    }
    span{
      color: white;
      background-color: red;
    }
  }
  

  &__reference{
    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto;
    width: 320px;
    
    .check{
      font-size: 15px;
      font-weight: bold;
    }
  }

  &__fullname{
    margin: auto;
    margin-top: 20px;
    width: 320px;
    .input-default.half{
      width: 130px;
      margin-right: 20px;
    }
    label{
      font-size: 20px;
    }
    span{
      font-size: 13px;
      margin-left: 5px;
      background-color: red;
      color: white;
    }
  }

  &__fullname_reading{
    margin: auto;
    margin-top: 20px;
    width: 320px;
    .input-default.half{
      width: 130px;
      margin-right: 20px;
    }
    label{
      font-size: 20px;
    }
    span{
      font-size: 13px;
      margin-left: 5px;
      background-color: red;
      color: white;
    }

  }

  &__birthday{
    margin: auto;
    margin-top: 20px;
    width: 320px;
    label{
      font-size: 20px;
    }
    span{
      font-size: 13px;
      margin-left: 5px;
      background-color: red;
      color: white;
    }

    .birthday-select-wrap{
      width: 320px;  
      .select-wrap{
        display: inline;
        margin-right: 5px;
      }
    }
    .form-info-text{
      color: lightslategrey;
    }

  }

  .login{
  border: 1px solid;
  width: 500px;
  height: 80px;
  background-color: red;
  text-align: center;
  color: blue;
  
  }
  }


.actions__sign_up{
  color: white;
  margin-top: 90px;
    .submit-btn {
      width: 300px;
      line-height: 85px;
      height: 85px;
      font-size: 20px;
      margin-left: 175px;
      background-color: red;
      color: white;
      }
    }
