.container
  .intro
    .intro__content
      %h2.intro__content__subtitle
        人生を変えるフリマアプリ
      %p.intro__content__text
        FURIMAは誰にでも簡単に出品・購入できる
        %br
        フリマアプリです
      .intro__content__btn
        %a
          %img.g-btn{ src:"/assets/google-play-badge.png"}
        %a
          %img.g-btn{ src:"/assets/google-play-badge.png"}
  
  .top-container
    %h2.top-container__title
      FURIMAが選ばれる３つの理由
    %ul.top-container__lists
      %li.list
        .list__image
          %span.list__image--number 1
          %img.list__image--img{ src:"assets/pict/pict-reason-01"}
        %h3.list__text
          %span.list__text--strong 3分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる

      %li.list
        .list__image
          %span.list__image--number 2
          %img.list__image--img{ src:"assets/pict/pict-reason-02"}
        %h3.list__text
          %span.list__text--strong シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.list.list__last
        .list__image
          %span.list__image--number 3
          %img.list__image--img{ src:"assets/pict/pict-reason-03"}
        %h3.list__text
          手数料
          %span.list__text--strong 業界最安
        %p.list__description
          最大3％でお得に出品＆購入！

  .intro-middle
    .intro-middle__content
      %h2.intro-middle__content__subtitle
        会員数日本一
      %p.intro-middle__content__text
        FURIMAは、フリマアプリでも人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .intro-middle__content__btn
        %a
          %img.g-btn{ src:"/assets/google-play-badge.png"}
        %a
          %img.g-btn{ src:"/assets/google-play-badge.png"}

  .middle-container
    %h2.middle-container__title
      FURIMAの特徴
    %ul.middle-container__lists
      %li.list
        .list__image
          %img.list__image--img{ src:"http://furima.tokyo/assets/icon-01-7f6abf70ea7deaed9ab5d8b6d5cb796250e3e292b9ecdc559ebe6492c31fdab8.svg"}
        %h3.list__text
          簡単に売り買いできる
        %p.list__description
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能

      %li.list
        .list__image
          %img.list__image--img{ src:"http://furima.tokyo/assets/icon-03-9c0d78266a316fec7b738dcf5c68dd987afb9655b13fd2cd5d30bcf09e827694.svg"}
        %h3.list__text
          売上金は即日振り込みに対応
        %p.list__description
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！

      %li.list.list__last
        .list__image
          %img.list__image--img{ src:"http://furima.tokyo/assets/icon-04-c4052f85cd6e1f62ea8cac8c55277d7fa4bda971d924f8a2afe72eea6558fa85.svg"}
        %h3.list__text
          様々な支払いに対応
        %p.list__description
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .category-pickup
    %h1.category-pickup__title
      ピックアップカテゴリー
    .category-pickup__box1
      %ul.box1__heder
        =link_to "#",class:"title"do
          %h3.heder__title 
          新規投稿商品
      -# %li.category-lists
      -#   =link_to "#",class:"list-img"do
            

  .brand
    %h1
      ピックアップブランド

  .bottom
    %h1
      今ずぐ無料ダウンロード