.container
  .intro
    .intro__content
      %h2.intro__content--subtitle
        人生を変えるフリマアプリ
      %p.intro__content--text
        FURIMAは誰にでも簡単に出品・購入できる
        %br
        フリマアプリです
      .intro__content--btn
        %a
          %img.g-btn{ src:"/assets/google-play-badge.png"}
        %a
          %img.g-btn{ src:"/assets/google-play-badge.png"}
  
  .first
    %h1
      FURUMAが選ばれる３つの理由

  .second
    %h1
      会員数日本一位

  .third
    %h1
      FURUMAの特徴

  .category
    %h1
      ピックアップカテゴリー

  .brand
    %h1
      ピックアップブランド

  .bottom
    %h1
      今ずぐ無料ダウンロード