.wrapper
  .input_area
    .image
      出品画像
    .overview
      .name
        商品名
      .explain
        商品の説明
    .detail
      商品の詳細
      .category
        カテゴリー
      .brand
        ブランド
      .status
        商品の状態
    .shipping_relation
      配送について
      .fee
        配送料の負担
      .method
        配送方法
      .owner_area
        発送元の地域
      .arrival_date
        発送までの日数
    .price
      販売価格
    .submit
      出品する
    .cautions_information
      注意事項

