.wrapper
  .input_area
    %form
      .image
        .image__top
          出品画像
          %span.image__top--red
            必須
        .image__text
          最大３枚までアップロードできます。
        %label
          .image_form
            = icon('fas', 'camera', class: "image_form__item image_form__item--icon")
            .image_form__item
              ドラッグアンドドロップ
              -# ドラックアンドドロップについてはjquery時に作業するorクリック式のみのアップロードにしてドロップアンドドロップを消す
            .image_form__item
              またはクリックしてファイルをアップロード
            %input.image_form__item--display{type: "file"}
      .overview
        .name
          .name__top
            商品名
            %span.name__top--red
              必須
          %input.name__form{type: "text", placeholder: "40文字まで"}
        .explain
          .explain__top
            商品の説明
            %span.name__top--red
              必須
          %textarea.explain__form{type: "text", placeholder: "商品の説明 (1000文字まで)"}
          .explain_bottom
            .explain_bottom__caracters_number
              0/1000
      .detail
        商品の詳細
        .category
          .category__top
            カテゴリー
            %span.category__top--red
              必須
          %select.category__form
            %option
              ✔︎ 選択してください
            %option
              レディース
        .brand
          .brand__top
            ブランド
            %span.brand__top--gray
              任意
          %input.brand__form{type: "text", placeholder: "例) シャネル"}
        .status
          .status__top
            商品の状態
            %span.status__top--red
              必須
          %select.status__form
            %option
              ✔︎ 選択してください
            %option
              新品
            %option
              中古
      .shipping_relation
        配送について
        .fee
          .fee__top
            配送料の負担
            %span.fee__top--red
              必須
          %select.fee__form
            %option
              ✔︎ 選択してください
            %option
              送料込み（出品者負担）
            %option
              着払い（購入者負担）
        .method
          配送方法
        .owner_area
          発送元の地域
        .arrival_date
          発送までの日数
      .price
        販売価格
      .submit
        出品する
      .cautions_information
        注意事項

