.wrapper
  .input_area
    %form
      .image
        .image__top
          出品画像
          %span.image__top--red
            必須
        .image__text
          最大３枚までアップロードできます。
        %label
          .image_form
            = icon('fas', 'camera', class: "image_form__item image_form__item--icon")
            .image_form__item
              ドラッグアンドドロップ
              -# ドラックアンドドロップについてはjquery時に作業するorクリック式のみのアップロードにしてドロップアンドドロップを消す
            .image_form__item
              またはクリックしてファイルをアップロード
            %input.image_form__item--display{type: "file"}
      .overview
        .name
          .name__top
            商品名
            %span.name__top--red
              必須
          %input.name__form{type: "text", placeholder: "40文字まで"}
        .explain
          商品の説明
      .detail
        商品の詳細
        .category
          カテゴリー
        .brand
          ブランド
        .status
          商品の状態
      .shipping_relation
        配送について
        .fee
          配送料の負担
        .method
          配送方法
        .owner_area
          発送元の地域
        .arrival_date
          発送までの日数
      .price
        販売価格
      .submit
        出品する
      .cautions_information
        注意事項

