.wrap
  %main.main
    .main__name
      =@item.name
    .main__imgs
      =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: "main__imgs__img"

      %ul.main__imgs__list
        %li.main__imgs__list__img
          =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: ""
        %li.main__imgs__list__img
          =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", class: ""
        %li.main__imgs__list__img
          =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", class: ""

    %p.main__price
      \\
      =@item.price
      %p.main__price__sub
        (税込) 送料込み
    
    %p.main__description
      =@item.explain

    %table.main__info
      %tbody
        %tr
          %th
            商品の状態
          %td
            =@item.status
        %tr
          %th
            ブランド
          %td
            =@item.brand
        %tr
          %th
            配送料の負担
          %td
            =@item.shipping_fee
        %tr
          %th
            配送方法
          %td
            =@item.shipping_method
        %tr
          %th
            発送元の地域
          %td
            %a
              =@item.owners_area
        %tr
          %th
            発送日の目安
          %td
            =@item.arrival_date
        %tr
          %th
            出品者
          %td
            =@item.user_id
        %tr
          %th
            カテゴリー
          %td
            %a
              =@item.category_id

    .main__low
      %a.main__low--like
        \★ お気に入り 3
      %a.main__low--report
        =icon("fa", "flag")
        不適切な商品の通報

  %form.comment
    %textarea.comment__txt
    .comment__caution
      相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %button.comment__btn
      =icon("fas", "comment")
      コメントする
  
  .more
    .preNextBox
      =link_to "< 前の商品", "#", class: "preBtn"
      =link_to "#", class: "nextBtn" do
        次の商品 >
    =link_to "ベビー・キッズをもっと見る", "#", class:"moreBtn"





















