.footer
  .up_area
    .inner
      .inner__title
        だれでもかんたん、人生を変えるフリマアプリ
      .inner__text
        今すぐ無料ダウンロード！
      %ul.inner__icon
        %li.inner_icon--app_store
        %li.inner_icon--google_play
  .low_area
    Fulimaについて