%header.head
  -if flash[:notice]
    .head__flash
      =flash[:notice]

  .head__in
    .head__in__up
      %h1
        =link_to root_path do
          = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", class: "head__in__up__logo"
      .head__in__up__search
        .head__in__up__search__txt
          キーワードから探す
        .head__in__up__search__btn
          = icon('fas', 'search', class: '')

    .head__in__nav
      .head__in__nav__left
        %ul.head__in__nav__left__cate
          カテゴリー
        %ul.head__in__nav__left__brand
          ブランド

      %ul.head__in__nav__right
        %li
          =link_to "商品1", "/items/1"
        %li
          =link_to "商品2", "/items/2"

        -if user_signed_in?
          %li.head__in__nav__right__new
            =link_to "出品", new_item_path
          %li.head__in__nav__right__mypage
            =link_to "マイページ", "#"
          %li.head__in__nav__right__logout
            =link_to "ログアウト", destroy_user_session_path, method: :delete

        -else
          %li.head__in__nav__right__new
            =link_to "新規登録", new_user_registration_path
          %li.head__in__nav__right__login
            =link_to "ログイン", new_user_session_path


  -# .header__breadcrumb
  -#   FURIMA > 大カテゴリ > 中カテゴリ > 小カテゴリ > 商品名