%header.header
  .header__upper

    %h1
      = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", class: "header__upper__logo"
    .header__upper__search
      .header__upper__search__txt
        キーワードから探す
      .header__upper__search__btn
        = icon('fas', 'search', class: '')

  .header__nav
    .header__nav__left
      %ul.header__nav__left__cate
        カテゴリー
      %ul.header__nav__left__brand
        ブランド

    %ul.header__nav__right
      %li.header__nav__right__login
        ログイン
      %li.header__nav__right__new
        新規登録


  -# .header__breadcrumb
  -#   FURIMA > 大カテゴリ > 中カテゴリ > 小カテゴリ > 商品名