%header.head
  .head__in
  .head__in__up
    %h1
      = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", class: "header__upper__logo"
    .head__in__up__search
      .head__in__up__search__txt
        キーワードから探す
      .head__in__up__search__btn
        = icon('fas', 'search', class: '')

  .head__in__nav
    .head__in__nav__left
      %ul.head__in__nav__left__cate
        カテゴリー
      %ul.head__in__nav__left__brand
        ブランド

    %ul.head__in__nav__right
      %li.head__in__nav__right__login
        ログイン
      %li.head__in__nav__right__new
        新規登録


  -# .header__breadcrumb
  -#   FURIMA > 大カテゴリ > 中カテゴリ > 小カテゴリ > 商品名